<div class="modal-confirm modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
    </header>
    <footer class="modal-card-foot">
      <form class="modal-form" method="POST" action="">
        <button class="modal-confirm button is-success" type="submit"><%= text.forms.buttons.accept %></button>
        <button class="modal-cancel button is-error" type="button"><%= text.forms.buttons.cancel %></button>
      </form>
    </footer>
  </div>
</div>
